html,
body,
#react-root {
  height: 100%;
  --body-font-size: 20px;
  --smaller-font-size: 17px;
  --blue-btn: rgb(61, 100, 185);
  --blue-btn-hover: rgb(72, 115, 207);
}

body {
  font-family: sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

ul {
  list-style: square;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  margin-top: 20px;
}

