html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  margin-top: 20px;
}

