.header {
    padding-top: 140px;
    padding-bottom: 140px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), 
      url('../../../public/header.jpeg') center;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid orange;
}

.header-title {
    text-shadow: 1px 1px #00000088;
}