.nav-container {
  display: flex;
  justify-content: end;
  margin-left: 70%;
}

#sh-logo {
  color: orange;
  font-size: 34px;
  padding-right: 3px;
}

.navbar-brand {
  font-size: 25px;
}

.active-tab {
  border-bottom: 2px solid orange;
}

.nav-link:hover {
  transform: scale(1.05, 1.05);
}

.navbar {
  box-shadow: 0 6px 3px -2px rgba(0, 0, 0, 0.171);
}

#navbar {
  background-color: rgba(255, 255, 255, 0);
}
